<%- include('views/header.ejs'); -%>
    
<header class="hero">
    <h1 class="hero__title"><%= hero.title %></h1>
    <figure class="hero__image" style="background-image: url('<%= hero.imageDesktop %>');"></figure>
    <h2 class="hero__subtitle"><%= hero.subtitle %></h2>
</header>

<main>

    <section class="services">
        <p class="services__title"><%= services.title %></p>

        <% services.items.forEach(function(service, index){ %>
            <article class="service service--<%= index%2 === 0 ? 'left' : 'right' %>">
                <figure class="service__image" style="background-image: url('');">
                    <img src="<%= service.image %>" alt="" />
                </figure>
                <div class="service__text">
                    <h3 class="service__title"><%= service.title %></h3>
                    <p class="service__description"><%= service.description %></p>
                </div>
            </article>
        <% }); %>
    </section>

    <section class="cta">
        <div class="cta__wrapper">
            <h3 class="cta__title"><%= cta.title %></h3>
            <a href="<%= cta.link %>">Scopri di più</a>
        </div>
    </section>

</main>

<%- include('views/footer.ejs'); -%>
